<nav>
    <div class="PasswordPal">
        <a href="/"><h1><img src="Logo.jpg" alt="PassPal Logo" width="400px" height="90px"></h1></a>
        <p>A place to store all your password needs!</p>
    </div>
</nav>