<nav>
    <div class="PasswordPal">
        <a href="/"><h1>PasswordPal</h1></a>
        <p>A place to store all your passwords!</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/wallet">See Wallet</a></li>
        <!-- <li><a href="/find">Find Password</a></li> -->
    </ul>
</nav>