<nav>
    <div class="PasswordPal">
        <a href="/"><h1><img src="Logo.jpg" alt="PassPal Logo" width="400px" height="90px"></h1></a>
        <p>A place to store all your password needs!</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/wallet">See Wallet</a></li>
        <!-- <li><a href="/find">Find Password</a></li> -->
        <li><a href="/add">Add Password</a></li>
    </ul>
</nav>