<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="notFoundContent">
            <h2>UH OH. 404: Page not found >:O</h2>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>