<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> PasswordPal: Add Password</title>
        <link rel="stylesheet" href="../public/addStyle.css">
    </head>
    <%- include('./partials/header.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>
        
        <div class="container">
            <div class="passPal">
                <h2>Add Password</h2>
            </div>
            <div class="createPasswordEntry">
                <form action="/wallet" method="POST">
                    <label for="appName">Application:</label>
                    <input type="text" id="application" name="app" required>
                    <label for="user">Username/Email:</label>
                    <input type="text" id="user" name="user" required>
                    <label for="pass">Password:</label>
                    <textarea id="pass" name="pass" required></textarea>
                    <button>Add to Wallet</button>
                    </form>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>

        <script type="text/javascript">
            function generateRandomPass() {
                var randomString = Math.random().toString(36).slice(2);
                console.log(randomString);
            }
        </script>
    </body>
</html>