<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PassPal</title>
</head>
  <%- include('./partials/header.ejs') %>
    <body>
        
      <%- include('./partials/homeNav.ejs') %> 
      <link rel="stylesheet" href="../public/homePageStyle.css">
        <div class="container">
            <div class="passwordPal">
                <div class="buttonGroup">
                    <button onclick="window.location.href = '/wallet';">See Password Wallet</button>
                    <!-- <button onclick="window.location.href = '/find';">Find Account/Password</button> -->
                    <button onclick="window.location.href = '/add';">Add Account/Password</button>
                </div>
            </div>
        </div>
      <%- include('./partials/footer.ejs') %>
    </body>
</html>