@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');
    
/* Background styling and animation */
    body {
      margin: 20px auto;
      padding: 0 20px;
      max-width: 1200px;
      font-family: 'Josefin Sans', sans-serif;
      background-color: #000111;
      /*background: linear-gradient(120deg, #000111, #05011a, #000111, #05011a);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      */
      width: 100%;
      height: 100vh;
      box-sizing: border-box;
      overflow: hidden;
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    
    /* General Styling */
    p, h1, h2, h3, a, ul {
      margin: 0;
      padding: 1px;
      text-decoration: none;
      color: #9677ec;
    }
    h2 {
      margin-bottom: 40px;
    }

    /* Landing Page Styling */
    .container {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      top: 100px;
    }
    #logoTitle {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%);
      font-size: 150px;
      font-weight: 600;
      text-align: center;
      color: #fdfdfe;
      text-shadow: 0px 0px 5px #9677ec, 0px 0px 10px #9677ec, 0px 0px 10px #9677ec,
        0px 0px 20px #9677ec;
    }
    #logoSlogan {
      display: flex;
      position: relative;
      justify-content: center;
      bottom: -385px;
      color: #9677ec;
      font-size: 30px;
      font-weight: 300;
    }
    .buttonGroup {
      display: flex;
      position: relative;
      justify-content: center;
      bottom: -400px;
      flex-direction: column;
      align-items: center;
      gap: 1px;
    }
    .button-1,
    .button-2 {
      background-color: #9677ec;
      color: #000111;
      font-family: 'Josefin Sans', sans-serif;
      height: 50px;
      width: 250px;
      border: 2px;
      border-radius: 5px;
      padding: 15px 32px;
      margin: 5px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    .button-1:hover,
    .button-2:hover {
      animation-name: hoverAnimation;
      animation-duration: 0.25s;
      animation-timing-function: ease-out;
      background-color: #000111;
      height: 50px;
      padding: 15px 32px;
      border: 2px solid #9677ec;
      border-radius: 5px;
      margin: 5px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      color: #9677ec;
    }
    @keyframes hoverAnimation {
      from {background-color: #9677ec; color: #000111}
      to {background-color: #000111; color: #9677ec;}
    }
    .overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0%;
      z-index: 2;
      background: #9677ec;
    }
    .first{
      top: 0;
    }
    .second{
      top: 33.3%;
    }
    .third{
      top: 66.6%;
    }

    /* Nav Styling */
    .menu{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-bottom: 10px;
      text-transform: uppercase;
    }
    .menu ul {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .menu li {
      list-style-type: none;
      font-size: 12px;
      margin-left: 20px;
    }
    .menu p, nav a {
      text-align: center;
      color: #9677ec;
      font-weight: 300;
    }

    /* Footer styling */
    footer {
      color: #9677ec;
      text-align: center;
      margin: 80px auto 20px;
    }

    /* Wallet styling */
    table {
      table-layout: auto;
      width: 100%;
      border:2px #9677ec;
      font-family: 'Josefin Sans', sans-serif;
    }
    th {
      border: 1px solid #9677ec;
      color: #000111;
      padding: 5px;
      background-color: #9677ec;
    }
    td {
      border: 1px solid #9677ec;
      color:#9677ec;
      text-align: center;
      padding: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    #addPass {
      color:#9677ec;
      padding-bottom: 20px;
    }

    /* Add page styling */
    label {
      display: block;
      color:#9677ec;
      margin-top: 24px;
      margin-bottom: 5px;
    }
    #application, #applicationLink, #user, #pass {
      display: flex;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 5px;
      height: 20px;
    }
    .createPasswordEntry form {
      max-width: 400px;
      margin: 0;
    }
    .createPasswordEntry input,
    .createPasswordEntry textarea {
      display: flexbox;
      width: 100%;
      margin: 1px 0;
      padding: 8px;
    }
    textarea {
      height: 120px;
    }
    .createPasswordEntry button{
      margin-top: 20px;
      background: #9677ec;
      color: #000111;
      border: 2px solid #000111;
      border-radius: 5px;
      padding: 6px;
      font-size: 1.2em;
      cursor: pointer;
    }
    .createPasswordEntry button:hover{
      margin-top: 20px;
      background: #000111;
      color: #9677ec;
      border: 2px solid #9677ec;
      border-radius: 5px;
      padding: 6px;
      font-size: 1.2em;
      cursor: pointer;
    }

    /* Details styling */
    .details{
      position: relative;
    }
    .content{
      margin-left: 20px;
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      background: #9677ec;
      color: #000111;
      border: 2px solid #000111;
      border-radius: 50%;
      padding: 8px;
    }
    .delete:hover{
      cursor: pointer;
      background: #000111;
      color: #9677ec;
      border: 2px solid #9677ec;
      box-shadow: 1px 2px 3px #9677ec;
    } 
    #detailName, #detailPass, #detailCreatedAt {
      color:#9677ec;
      text-align: justify;
      font-family: 'Josefin Sans', sans-serif;
      padding: 15px;
    } 